nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 100%;
    padding: 1rem;
}

nav .left-nav .top{
    height: 30px;
    display: flex;
    align-items: center;
}

nav .left-nav .top h3{
    font-weight: 500;
    font-size: 27px;
    height: 30px;
    display: flex;
    align-items: center;
}

nav .left-nav .top img{
    height: 27px;
    align-self: flex-end;
}

nav .left-nav .bottom h6{
    font-size: 8px;
    letter-spacing: 1.2px;
    font-weight: 400;
    text-align: right;
}

nav .center-nav {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .center-nav .tab{
    position: relative;
    height: 50%;
    width: 11%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5rem;
}

nav .center-nav .active{
    color: var(--highlight-color);
}

nav .center-nav .tab::before{
    content: '';
    position: absolute;
    top: 30%;
    height: 1px;
    width: 100%;
    background-color: #777;
}

nav .center-nav .tab h6{
    font-weight: 400;
    font-size: 10px;
    margin-top: 0.5rem;
    text-transform: capitalize;
}

nav .right-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav .right-nav div{
    height: 1px;
    width: 50%;
    margin-bottom: 1px;
    margin-top: 1px;
    background-color: #777;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media screen and (max-width: 600px) {
    nav{
        justify-content: space-between;
    }
    nav .center-nav{
        display: none;
    }
}